@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
