.eduspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.eduspace a {
  color: #292fa9;
  font-size: 19px;
}
.eduspace__title {
  margin-top: 70px;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
