.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
}
.title {
  text-transform: uppercase;
}
.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  gap: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
