.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(1, 24, 168);
  color: #ffe57f;
}
.title {
  font-family: 'Cormorant Unicase', serif;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
}
.liceum__logo {
  margin-right: 20px;
}
.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  gap: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
