.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(1, 24, 168);
  @media screen and (min-width: 480px) {
    font-size: smaller;
    gap: 10px;
  }
}
.title {
  font-family: 'Cormorant Unicase', serif;
  font-style: italic;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #ffe57f;
}
.liceum__logo {
  margin-right: 20px;
  @media screen and(min-width:480px) {
    margin-right: 0;
  }
}
.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  gap: 20px;
  @media screen and(min-width:480px) {
    gap: 10px;
  }
}
.navigation-link {
  color: #ffe57f;
}
.navigation-link:hover {
  color: #ffffff;
  transition-duration: 500ms;
}

.navigation-link:focus {
  color: #ffffff;
}
.navigation-link:active {
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
}
