.home__title {
  margin-top: 40px;
  text-align: center;
}

.home__pic {
  width: 700px;
  height: 500px;
  border: 4px rgba(0, 0, 0, 0.618) solid;
}
.admission-button {
  display: inline-block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffe57f;
  color: #000000;
  padding: 10px 20px;
  margin-bottom: 200px;
}
.admission-button:hover {
  background-color: rgb(1, 24, 168);
  color: #ffffff;
}
.admission-button:focus {
  background-color: rgb(1, 24, 168);
  color: #ffffff;
}
.swiper {
  width: 900px;
  height: 600px;

  border: #000000 5px solid;
}
.home-info {
  color: #ffffff;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0.514)),
    url(../images/homeimg/liceum.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-info:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 50px;
}
.welcome-form {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  margin-right: 40px;
}

.welcome {
  font-size: 40px;
  margin-top: 200px;
}
.welcome-text {
  font-size: 25px;
}

.swiper-slide img {
  width: auto;
  height: auto;
}
// .socialmedia {

// }
.google-map {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.line {
  background-color: #292fa9;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}
.info a {
  color: #292fa9;
}

.info__title {
  font-size: 30px;
}
.info__additional-information {
  text-align: center;
  margin: 0;
}

.progress__list {
  text-align: center;
}
.children-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.socialmedia {
  margin-left: 100px;
  margin-right: 100px;
}
