@media screen and(min-width:480px) {
  p {
    text-align: center;
  }
  .progress__item {
    text-align: center;
  }
}
.home__title {
  margin-top: 40px;
  text-align: center;
}

.home__pic {
  width: 700px;
  height: 500px;
  border: 4px rgba(0, 0, 0, 0.618) solid;
}
.admission-button {
  display: inline-block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffe57f;
  color: #000000;
  padding: 10px 20px;
  margin-bottom: 200px;
  @media screen and (min-width: 480px) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    text-align: justify;
  }
}
.admission-button:hover {
  background-color: rgb(1, 24, 168);
  color: #ffffff;
}
.admission-button:focus {
  background-color: rgb(1, 24, 168);
  color: #ffffff;
}
.swiper {
  width: 900px;
  height: 600px;

  border: #000000 5px solid;
}
.home-info {
  color: #ffffff;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0.514)),
    url(../images/homeimg/liceum.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-info:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 50px;
}
.welcome-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  margin-right: 40px;
}

.welcome {
  font-size: 40px;
  margin-top: 200px;
  @media screen and (min-width: 480px) {
    font-size: 30px;
    margin-top: 100px;
  }
}
.welcome-text {
  font-size: 25px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.swiper-slide img {
  width: auto;
  height: auto;
}
.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.google-map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  border: 4mm ridge;
}
.line {
  background-color: #292fa9;
  padding: 100 735 100 735;
  position: relative;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}
.info a {
  color: #292fa9;
}

.info__title {
  font-size: 30px;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}
.info__additional-information {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  @media screen and(min-width:480px) {
    margin-bottom: 20px;
  }
}

.progress__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.progress__list:last-child {
  margin-bottom: 50px;
}
.children-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.socialmedia {
  margin-left: 100px;
  margin-right: 100px;
}
