<section class="about-section" id="about-section"> 
<div class="municipality">
<h1 class="about-section__title">Про ліцей</h1>
<p class="about-section__link"><a target="_blank" href="https://docs.google.com/document/d/11qpD3CTnL37yvUZeRyENCpAGe1oCWsZg/edit">Учнівське самоврядування</a></p>
<img src="./images/infoimg/municipality.png" width="1000px" class="schem">

<ul class="nav-list">
    <li class="nav-item"><a class="nav-link" href="./nonstylesection/admission.html"><p>Умови вступу</p></a></li>
    <li class="nav-item"><a class="nav-link" href="./nonstylesection/info.html">Прозорість та інформаційна відкритість (ст.30 п.2)</a></li>
    <li class="nav-item"><a class="nav-link" href="./nonstylesection/details.html">Банківські реквізити</a></li>
</ul>





</div>
</section>