
<section class="department-section">
  <h1 class="title">Навчальні кафедри</h1>
 <ul style="list-style: none;">
  <li class="department-item">
    <h2>Кафедра правознавства і суспільних дисциплін</h2>
    <ul style="list-style: none;">
      <li>
        <p style="font-size: 25px;">Голова кафедри</p>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">
        <img src="../images/department/department-listone-1.jpeg">
        <p>Гращенкова Ірина Олександрівна - керівник кафедри, вчитель правознавства вищої категорії, методист, Заслужений вчитель
        України, нагороджена грамотами управління освіти Миколаївського міської ради, департаменту освіти і науки Миколаївської
        облдержадміністрації, Почесною грамотою Міністерства освіти і науки України, нагрудним знаком «Відмінник освіти
        України», нагрудним знаком «Василь Сухомлинський», нагрудним знаком «Лідер освіти» Миколаївської облдержадміністрації,
        має свідоцтво кращого педагогічного працівника року міста в номінації «загальна середня освіта», абсолютний переможець
        Всеукраїнського конкурсу «Вчитель року-2010».</p>
        </div>
      </li>

      <li>
        <p style="font-size: 25px;">Члени кафедри</p>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">
      <img src="../images/department/department-listone-1.jpeg">
      <p>Варшавська Майя Юхимівна - вчитель історії вищої категорії, методист, нагороджена грамотами управління освіти
      Миколаївського міської ради, департаменту освіти і науки Миколаївської облдержадміністрації, Почесною грамотою
      Міністерства освіти і науки України, нагрудним знаком «Відмінник освіти України», нагрудним знаком « Василь
      Сухомлинський», номінант премії «Освітянин року» за активну діяльність у галузі загальної середньої освіти.</p>
      </div>
      </li>

      <li>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">    
          <img src="../images/department/department-listone-1.jpeg">
      <p>Каплій Олена Володимирівна - кандидат юридичних наук, вчитель факультативного курсу за вибором «Моя громадянська
      свідомість. Запобігання корупції», «спеціаліст вищої категорії».</p>
    </div>
      </li>

      <li>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">    
              <img src="../images/department/department-listone-1.jpeg">
        <p>Аркуша Катерина Володимирівна - учитель історії, "спеціаліст вищої категорії", нагороджена грамотою управління освіти
        Миколаївської міської ради</p>
      </div>

      </li>

    </ul>

  </li>
  <li class="department-item">
    <h2>Міжпредметне методичне об’єднання</h2>
    <ul style="list-style: none;">
      <li>
        <p style="font-size: 25px;">Голова кафедри</p>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">
          <img src="../images/department/department-listone-1.jpeg">
          <p>Дубінкіна Наталя Миколаївна - керівник міжпредметного методичного об'єднання, учитель математики, спеціаліст вищої
          категорії, "старший учитель".</p>
        </div>
      </li>
  
      <li>
        <p style="font-size: 25px;">Члени кафедри</p>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">
          <img src="../images/department/department-listone-1.jpeg">
          <p>Чадова Алла Анатоліївна - заступник директора з навчально-виховної роботи, вчитель інформатики вищої категорії,
          методист, нагороджена грамотами управління освіти Миколаївського міської ради, департаменту освіти і науки Миколаївської
          облдержадміністрації.
          </p>
        </div>
      </li>
  
      <li>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">
          <img src="../images/department/department-listone-1.jpeg">
          <p>Гіль Світлана Валентинівна - заступник директора з виховної роботи, вчитель фізики та астрономії, «спеціаліст вищої
          категорії», "старший учитель", нагороджена грамотами управління освіти Миколаївського міської ради, департаменту освіти
          і науки Миколаївської облдержадміністрації</p>
        </div>
      </li>
  
      <li>
        <div style="display: flex; gap:10px; margin-bottom: 30px;">
          <img src="../images/department/department-listone-1.jpeg">
          <p>Клубачук Валентина Анатоліївна - вчитель хімії та біології, «спеціаліст вищої категорії», нагороджена грамотами
          управління освіти Миколаївського міської ради, департаменту освіти і науки Миколаївської облдержадміністрації</p>
        </div>
  
      </li>
            <li>
              <p style="font-size: 25px;">Психолог</p>
              <div style="display: flex; gap:10px; margin-bottom: 30px;">
                <img src="../images/department/department-listone-1.jpeg">
                <p>Склярова Ольга Михайлівна - практичний психолог вищої категорії, методист, нагороджена грамотами управління освіти
                Миколаївського міської ради, департаменту освіти і науки Миколаївської облдержадміністрації, Почесною грамотою
                Міністерства освіти і науки України, нагрудним знаком «Відмінник освіти України»</p>
                
              </div>
                <a href="../download/sclarova-resume.doc" download="../download/sclarova-resume.doc">Опис досвіду практичного психолога</a>
            </li>
  
    </ul>
  
  </li>


    <li class="department-item">
      <h2>Кафедра «Філолог»</h2>
      <ul style="list-style: none;">
        <li>
          <p style="font-size: 25px;">Голова кафедри</p>
          <div style="display: flex; gap:10px; margin-bottom: 30px;">
            <img src="../images/department/department-listone-1.jpeg">
            <p>Леонова Наталя Олексіївна - керівник кафедри, вчитель англійської мови вищої категорії, «старший учитель», нагороджена
            грамотами управління освіти Миколаївського міської ради, департаменту освіти і науки Миколаївської облдержадміністрації,
            Почесною грамотою Міністерства освіти і науки України.</p>
          </div>
        </li>
    
        <li>
          <p style="font-size: 25px;">Члени кафедри</p>
          <div style="display: flex; gap:10px; margin-bottom: 30px;">
            <img src="../images/department/department-listone-1.jpeg">
            <p>Борисовець Оксана Вікторівна - директор ліцею, вчитель української мови та літератури вищої категорії, «методист»,
            нагороджена грамотами управління освіти Миколаївського міської ради, департаменту освіти і науки Миколаївської
            облдержадміністрації, Почесною грамотою Міністерства освіти і науки України, нагрудним знаком «Відмінник освіти
            України».
            </p>
          </div>
        </li>
    
        <li>
          <div style="display: flex; gap:10px; margin-bottom: 30px;">
            <img src="../images/department/department-listone-1.jpeg">
            <p>Сіленко Ірина Петрівна - вчитель української мови та літератури вищої категорії, "старший учитель", нагороджена
            грамотами управління освіти Миколаївського міської ради, департаменту освіти і науки Миколаївської облдержадміністрації.</p>
          </div>
        </li>
    
        <li>
          <div style="display: flex; gap:10px; margin-bottom: 30px;">
            <img src="../images/department/department-listone-1.jpeg">
            <p>Тараненко Лариса Григорівна - вчитель англійської мови, «спеціаліст вищої категорії».</p>
          </div>
    
        </li>
                <li>
                  <div style="display: flex; gap:10px; margin-bottom: 30px;">
                    <img src="../images/department/department-listone-1.jpeg">
                    <p>Буханець Олена Аркадіївна - заступник директора з навчально-виховної роботи, вчитель зарубіжної літератури вищої
                    категорії, «старший учитель», нагороджена грамотами управління освіти Миколаївського міської ради, департаменту освіти і
                    науки Миколаївської облдержадміністрації.</p>
                  </div>
                
                </li>
                                <li>
                                  <div style="display: flex; gap:10px; margin-bottom: 30px;">
                                    <img src="../images/department/department-listone-1.jpeg">
                                    <p>Коломієць Марина Олександрівна - вчитель української мови та літератури, спеціаліст, нагороджена грамотою управління
                                    освіти Миколаївської міської ради</p>
                                  </div>
                                
                                </li>
    
      </ul>
    
    </li>
 </ul>
</section>