<section class="eduspace" id="eduspace">

<h2 class="eduspace__title">Освітній простір</h2>

<ul class="list"> 
    <li><a href="./download/liceum-statut.docx" download="./download/liceum-statut.docx">Статут</a></li>
    <li><a href="./nonstylesection/teacher.html"><p>Кадровий склад</p></a></li>
    <li>
        <a href="./nonstylesection/profiles.html">
            <p>Профілі навчання</p>
        </a>
    </li>
    <li><a href="./nonstylesection/rules.html"><p>Правила прийому</p></a></li>
    <li><a href="./partials/department.html">Навчальні кафедри</a></li>
</ul>

</section>