<header class="header">
  <div class="logo">
    <img src="./images/Logo.png" width="70px" height="70px" />
    <h1 class="title">ліцей №8</h1>
  </div>

  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item"><a class="navigation-link">Головна</a></li>
      <li class="navigation-item"><a class="navigation-link">Про ліцей</a></li>
      <li class="navigation-item">
        <a class="navigation-link">Педагогічний склад</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link">Допомога учням</a>
      </li>
      <li class="navigation-item"><a class="navigation-link">Контакти</a></li>
    </ul>
  </nav>
</header>
