<section class="home">
  <h1 class="home__title">
    Ліцей №8 - школа профільного навчання: від правової освіти до активного
    громадянина
  </h1>
  <div class="home__info">
    <div class="gallery"></div>
    <img class="home__pic" src="./images/homeimg/teachers.jpg" />
    <div>
      <p>Юридичний ліцей чекає на вас!</p>
      <p>
        Юридичний ліцей – заклад освіти, де впроваджується власна система,
        сучасні технології, моделі, оптимальні форми і методи організації
        правової освіти та виховання учнівської молоді. У ліцеї створені належні
        умови для отримання, використання та поширення набутих знань, що
        підтверджують досягнення учнів та випускників ліцею. Основною метою
        діяльності ліцею є формування у ліцеїстів високої правової свідомості і
        культури, готовності своєю майбутньою працею активно сприяти вирішенню
        важливих соціально-економічних і політичних завдань, становленню і
        розвитку суспільства, побудові української правової держави.
      </p>

      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScHKiwz-gZJMhyR6JmDqRTPGsCz2mb0jfKO4b8yAxb-VEeQ1Q/viewform"
        target="_blank"
      >
        <button type="button">Заповниити форму для вступу</button>
      </a>
    </div>
  </div>
</section>
